<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotificationExampleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3037C2121DEBFBB300383AC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3037C22B1DEBFBB400383AC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3037C2361DEBFBB400383AC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
